 .u-section-1 {
  background-image: linear-gradient(to right, #b29a36, #404040);
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 160px 0 60px;
}